<div class="flex items-center justify-center min-h-screen bg-gray-100 py-5">
  <div class="bg-white shadow-md rounded px-6 pt-4 pb-6 mb-4 w-full max-w-[600px] mx-auto">
    <div class="flex justify-center mb-4">
      <img src="assets/logo.png" alt="Logo" width="120" />
    </div>
    <div class="text-center mb-6">
      <p class="text-gray-700 text-lg">MeetingApp - Kayıt Ol</p>
    </div>
    <form (ngSubmit)="onSubmit()" class="my-5" #registerForm="ngForm">
      
      <div class="grid grid-cols-3 gap-4 mb-6">
        <div class="w-full">
          <label for="firstName" class="font-bold block mb-2">Ad *</label>
          <input pInputText [(ngModel)]="registerData.name" name="firstName" id="firstName" required class="w-full" />
        </div>
        <div class="w-full">
          <label for="lastName" class="font-bold block mb-2">Soyad *</label>
          <input pInputText [(ngModel)]="registerData.lastName" name="lastName" id="lastName" required class="w-full" />
        </div>
        <div class="w-full">
          <label for="email" class="font-bold block mb-2">Email *</label>
          <input pInputText [(ngModel)]="registerData.email" name="email" id="email" type="email" required
          [pattern]="'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'" class="w-full" />
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4 mb-6">
        <div class="w-full">
          <label for="phone" class="font-bold block mb-2">Telefon *</label>
          <input 
            pInputText 
            [(ngModel)]="registerData.phoneNumber" 
            name="phone" 
            required 
            id="number" 
            pattern="[0-9]*" 
            inputmode="numeric" 
            class="w-full" 
          />
        </div>
        <div class="w-full">
          <label for="password" class="font-bold block mb-2">Şifre *</label>
          <input pInputText [(ngModel)]="registerData.password" name="password" id="password" type="password" required class="w-full" />
        </div>
        <div class="w-full">
          <label for="passwordret" class="font-bold block mb-2">Şifre Yeniden *</label>
          <input pInputText [(ngModel)]="registerData.passwordret" name="passwordret" id="passwordret" type="password" required class="w-full" />
          <div *ngIf="registerData.password && registerData.passwordret && registerData.password !== registerData.passwordret" class="text-red-500 text-sm">
            Şifreler uyuşmuyor!
          </div>
        </div>
      </div>

      <!-- Diğer form elemanları ve butonlar -->
      <div class="field col-12 mb-1">
        <div class="flex-auto">
          <label for="profileImage" class="font-bold block mb-1">Resim</label>
          <p-badge *ngIf="isDocument" value="Resin Yükleme Başarılı!" severity="success" class="mb-1" />
          <p-badge *ngIf="!isDocument" value="Resim Seçtikten Sonra Yükle Butonuna Basın!" severity="warn" class="mb-1" />
          <p-fileUpload class="w-full" [name]="registerData.profileImage" required (uploadHandler)="uploadFile($event)" customUpload="true" accept="image/*" class="w-full">
          </p-fileUpload>
        </div>
      </div>

      <!-- Kayıt ve geri dön butonları -->
      <div class="field col-12 flex justify-end">
        <p-button icon="pi pi-check" label="Geri Dön" severity="warn" class="mx-3" (click)="goLogin()"></p-button>
        <p-button icon="pi pi-check" label="Kayıt Ol" type="submit" [disabled]="!registerForm.valid"></p-button>
      </div>
    </form>
  </div>
</div>
